<div class="page-container">
  <h2>Your dashboard</h2>
  <h3><%= current_user.name %></h3>
  <div class="row mt-5 d-flex justify-content-around">
    <div class="number-transactions d-flex flex-column text-center">
      <span class="figures"><%= current_user.transactions.count %></span>
      TRANSACTIONS
    </div>
    <div class="amount-transferred d-flex flex-column text-center">
      <span class="figures"><%= humanized_money_with_symbol current_user.transactions.sum(:amount_cents) %></span>
      TRANSFERRED
    </div>
  </div>
  <div class="row">
    <div class = "col-6 offset-3 grid-container">
      <% current_user.transactions.each do |transaction| %>
      <div class="card-product">
        <i class="fas fa-exchange-alt" id="img"></i>
        <div class="card-product-infos">
          <h2><%= transaction.url %></h2>
          <p><%= humanized_money_with_symbol transaction.amount_cents %> on <strong><%= transaction.created_at %></strong></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
