<div class="banner">
  <div class="row p-5 mr-0">
    <div class="col-9">
        <h1>THE SIMPLE PAYMENT SOLUTION</h1>
        <div class="banner-text">
        <p>Fast and secure way to pay with a chrome extension in cryptocurrency</p>
        </div>
        <button class="base-btn extension-btn">
          <a href="#">Download the extension</a>
        </button>
    </div>
    <div class="people">
      <%= image_tag 'perso-banner.svg', class: "people-image" %>
    </div>
  </div>
</div>

  <div class="row p-5">
    <div class="home-container text-center">
      <h1>How it <span class="surligne">works</span></h1>
      <div class="row">
        <div class="col-4">
          <%= image_tag 'easy.svg', class: "coinbase-logo" %>
          <h3>Easy</h3>
          <p class="m-0">Use the extension whenever you're shopping</p>
        </div>
        <div class="col-4">
          <%= image_tag 'instantly.svg', class: "coinbase-logo" %>
          <h3>Instant</h3>
          <p class="m-0">B-payments extension allows you to pay instantly</p>
        </div>
        <div class="col-4">
          <%= image_tag 'secure.svg', class: "coinbase-logo" %>
          <h3>Secure</h3>
          <p class="m-0">B-payments makes sure your data stays safe</p>
        </div>
      </div>
    </div>
  </div>


<div class="row p-5">
  <div class="home-container text-left">
    <h1>It's <span class="surligne">simple</span></h1>
    <div class="row">
      <div class="col-6">
        <div class="text-left d-flex flex-column">
          <p>Go to the google ChromeWebStore and download our app,
          don’t forget to pin it on your navigator. Log to your coinbase
          account and choose something to buy on a webmarket place which
          accepts payments with Paypal. Your transaction will be safe and
          secure and no fees will be charged. When you will proceed to your payment
          our app will automatically sell your bitcoins into the exact amount of
          your purchase.</p>
          <div class="webstorelogo">
            <%= image_tag 'logo-ChromeWebStore.png', height: '70px', class: "webstorelogo-image" %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="ordi">
          <%= image_tag 'ordi-app.svg', class: "ordi-image" %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row p-5">
  <div class="home-container text-right">
    <h1>Our <span class="surligne">story</span></h1>
    <div class="row">
      <div class="col-6">
        <div class="team mt-3">
          <%= image_tag 'perso-us.svg', class: "team-image" %>
        </div>
      </div>
      <div class="col-6">
        <div class="text-right d-flex flex-column justify-content-between">
          <p>We all met during our coding bootcamp at le Wagon Paris 2020
          (Great coding school by the way !).
          We are all coming from diffents horizons, financial,
          design, IT. This is why our app looks pro and friendly at
          the same time.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row newsletter">
  <div class= "home-container text-center">
    <div class="row">
      <div class="col-6 text-left d-flex">
        <h1>Don't miss our <br><span class="surligne">latest news</span></h1>
      </div>
        <div class= "col-6 text-left d-flex">
          <div class="d-flex flex-column justify-content-center">
            <p>Subscribe to our awesome newsletter</p>
            <input type="text" class="field" placeholder="Your Email">
            <button class="btnnewsletter">Subscribe</button>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="row p-5">
  <div class="home-container text-center">
    <h1>Stay <span class="surligne">in touch</span></h1>
    <div class="row">
      <div class="col-6 text-left d-flex flex-column">
        <h3>Our contacts</h3>
        <p>Give us a call or drop by anytime, we endeavour to
        answer all enquiries within 24 hours on business days.
        We will be happy to answer your questions.</p>
        <br>
        <p>Our address :</p>
        <h4>Paris, France</h4>
        <p>Our mailbox :</p>
        <h4>contact@b-payments.com</h4>
        <div class="perso">
          <%= image_tag 'perso-ordi.svg', class: "perso-ordi" %>
        </div>
      </div>
      <div class="col-6">
        <div class="contact-box d-flex flex-column justify-content-between">
          <h3>You can contact us here</h3>
          <input type="text" class="field" placeholder="Your Name">
          <input type="text" class="field" placeholder="Your Email">
          <textarea placeholder="Message" class="field"></textarea>
          <button class="btncontactform">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>


