<div class="page-container">
  <div class="row">
    <div class="col-9 d-flex flex-column">
      <% if current_user.all_set? %>
        <h2>Hello <%= current_user.name %>,</h2>
          <button class="all-set-alert d-flex justify-content-between align-items-center pr-4 base-btn coinbase-btn">
            <%= image_tag 'logo-coinbase-white.svg', class: "coinbase-logo" %>
            <%= image_tag 'valid-sign.svg', class: "validation-sign" %>
            All set!
          </button>
      <% elsif current_user.coinbase_token? %>
          <h2>Hello <%= current_user.name %>,</h2>
          <button class="paypal-missing d-flex justify-content-between align-items-center pr-4 base-btn coinbase-btn">
            <%= image_tag 'logo-coinbase-white.svg', class: "coinbase-logo" %>
            <%= image_tag 'non-valid-sign.svg', class: "validation-sign" %>
            One more step!
          </button>
        <br>
        <br>
        <div class="paypal-missing-alert">
          In order to use our extension, go to your coinbase account and connect your paypal.
        </div>
      <% else %>
        <h2>Hello you,</h2>
        <button class="d-flex justify-content-between align-items-center pr-4 base-btn coinbase-btn">
          <%= image_tag 'logo-coinbase-white.svg', class: "coinbase-logo" %>
          <%= link_to "Connect your Coinbase Wallet", user_coinbase_omniauth_authorize_path %>
        </button>
      <% end %>
      <br>
      <br>
        <button class="base-btn extension-btn">
          <a href="#">download the extension</a>
        </button>
    </div>
    <div class="col-3">
      <%= image_tag 'woman.svg', height: "600px" %>
    </div>
  </div>
</div>
