<div class="page-container">
  <div class="row">
    <div class="col-9 d-flex flex-column">
      <h2>Hello <%= current_user.name %>,</h2>
      
      <% if current_user.all_set? %>
        <div class="all-set-alert d-flex justify-content-between align-items-center pr-5">
          <%= image_tag 'logo-coinbase-color.svg', class: "coinbase-logo" %>
          <%= image_tag 'valid-sign.svg', class: "valid-sign" %>
          All set!
        </div>
      <% elsif current_user.coinbase_token? %>
          <%= image_tag 'logo-coinbase-color.svg', class: "coinbase-logo" %>
          <div class="paypal-missing-alert">
            Pssst, in order to use our extension, go to your coinbase account and connect your paypal.
          </div>
      <% else %>
        <button class="d-flex justify-content-between align-items-center pr-4 base-btn coinbase-btn">
          <%= image_tag 'logo-coinbase-white.svg', class: "coinbase-logo" %>
          <%- User.omniauth_providers.each do |provider| %>
            <%= link_to "Connect your #{OmniAuth::Utils.camelize(provider)} Wallet",
            omniauth_authorize_path(current_user, provider) %>
          <% end %>
        </button>
      <% end %>
    </div>
    <div class="col-3">
      <%= image_tag 'woman.svg', height: "600px" %>
    </div>
  </div>
</div>
